<div>

    <h2 translate="jtraceApp.itemmtr.home.title">Itemmtr</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveItemmtrModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jtraceApp.itemmtr.home.createLabel">Create a new Itemmtr</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveItemmtrModal" tabindex="-1" role="dialog" aria-labelledby="myItemmtrLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemmtrLabel" translate="jtraceApp.itemmtr.home.createOrEditLabel">Create or edit a Itemmtr</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="itemmtr.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="jtraceApp.itemmtr.code">Code</label>
                            <input type="text" class="form-control" name="code"
                                   ng-model="itemmtr.code" required ng-minlength="5">

                            <div ng-show="editForm.code.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.code.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.code.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                                    This field is required to be at least 5 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemmtr.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="itemmtr.description" ng-minlength="5">

                            <div ng-show="editForm.description.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.description.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                                    This field is required to be at least 5 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemmtr.itemcat">itemcat</label>
                            <select class="form-control" name="itemcat" ng-model="itemmtr.itemsubcat.itemcat.id" ng-options="itemcat.id as itemcat.name for itemcat in itemcats" required>
                            </select>
                            <div ng-show="editForm.itemmtr.itemsubcat.itemcat.id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.itemmtr.itemsubcat.itemcat.id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemmtr.itemsubcat">itemsubcat</label>
                            <select class="form-control" name="itemsubcat" ng-model="itemmtr.itemsubcat.id" ng-disabled="!itemmtr.itemsubcat.itemcat.id" ng-options="itemsubcat.id as itemsubcat.name for itemsubcat in itemsubcats | filter:itemmtr.itemsubcat.itemcat.id" required>
                            </select>
                            <div ng-show="editForm.temmtr.itemsubcat.id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.temmtr.itemsubcat.id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemmtr.specification">Specification</label>
                            <input type="text" class="form-control" name="specification"
                                   ng-model="itemmtr.specification" required ng-minlength="5">

                            <div ng-show="editForm.specification.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.specification.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.specification.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                                    This field is required to be at least 5 characters.
                                </p>
                            </div>
                        </div>
                        {{ choices }}
                            <button class="btn btn-info" class="addfields" ng-click="addNewChoice()">Add More Specification</button>
                            <fieldset data-ng-repeat="choice in choices" style="padding-top:10px">                
                                <div class="form-group">
                                                <div class="col-md-4">
                                                    <select class="form-control" ng-model="choice.choice1.name" ng-options="choice1.name for choice1 in colors">
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="form-control" type="text" ng-model="choice.name" name="" placeholder="Enter Specification value">
                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-primary" class="addfields" ng-show="$last" ng-click="addNewChoice()">+</button>
                                                    <button class="btn btn-danger" class="form-control" class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
                                                </div>
                                </div>                
                            </fieldset>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemmtrConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(itemmtr.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.itemmtr.delete.question" translate-values="{id: '{{itemmtr.id}}'}">Are you sure you want to delete this Itemmtr?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="jtraceApp.itemmtr.code">Code</th>
                    <th translate="jtraceApp.itemmtr.description">Description</th>
                    <th translate="jtraceApp.itemmtr.specification">Specification</th>
                    <th translate="jtraceApp.itemmtr.itemcat">itemcat</th>
                    <th translate="jtraceApp.itemmtr.itemsubcat">itemsubcat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemmtr in itemmtrs">
                    <td><a ui-sref="itemmtrDetail({id:itemmtr.id})">{{itemmtr.code}}</a></td>
                    <td>{{itemmtr.description}}</td>
                    <td>{{itemmtr.specification}}</td>
                    <td>{{itemmtr.itemsubcat.itemcat.name}}</td>
                    <td>{{itemmtr.itemsubcat.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="itemmtrDetail({id:itemmtr.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(itemmtr.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(itemmtr.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
