<div>

    <h2 translate="jtraceApp.itemsubcat.home.title">Itemsubcat</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveItemsubcatModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jtraceApp.itemsubcat.home.createLabel">Create a new Itemsubcat</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveItemsubcatModal" tabindex="-1" role="dialog" aria-labelledby="myItemsubcatLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemsubcatLabel" translate="jtraceApp.itemsubcat.home.createOrEditLabel">Create or edit a Itemsubcat</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="jtraceApp.itemsubcat.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="itemsubcat.name">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemsubcat.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="itemsubcat.description">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemsubcat.classcode">Classcode</label>
                            <input type="number" class="form-control" name="classcode"
                                   ng-model="itemsubcat.classcode" required>

                            <div ng-show="editForm.classcode.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.classcode.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.classcode.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.itemsubcat.enabled">Enabled</label>
                            <input type="checkbox" class="form-control" name="enabled"
                                   ng-model="itemsubcat.enabled">

                        </div>

                        <div class="form-group">
                            <label translate="jtraceApp.itemsubcat.itemcat">itemcat</label>
                            <select class="form-control" name="itemcat" ng-model="itemsubcat.itemcat.id" ng-options="itemcat.id as itemcat.name for itemcat in itemcats">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemsubcatConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(itemsubcat.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.itemsubcat.delete.question" translate-values="{id: '{{itemsubcat.id}}'}">Are you sure you want to delete this Itemsubcat?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table datatable="ng" dt-options="itemCatsOptions" dt-columns="itemCatsColumns" class="row-border hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.itemsubcat.name">Name</th>
                    <th translate="jtraceApp.itemsubcat.description">Description</th>
                    <th translate="jtraceApp.itemsubcat.classcode">Classcode</th>
                    <th translate="jtraceApp.itemsubcat.enabled">Enabled</th>
                    <th translate="jtraceApp.itemsubcat.itemcat">itemcat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemsubcat in itemsubcats">
                    <td><a ui-sref="itemsubcatDetail({id:itemsubcat.id})">{{itemsubcat.name}}</a></td>
                    <td>{{itemsubcat.description}}</td>
                    <td>{{itemsubcat.classcode}}</td>
                    <td>{{itemsubcat.enabled}}</td>
                    <td>{{itemsubcat.itemcat.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="itemsubcatDetail({id:itemsubcat.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(itemsubcat.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(itemsubcat.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
