<div class="container">

    

    <div>
            <h2 translate="jtraceApp.plantmfgline.home.title">Plantmfgline</h2>
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePlantmfglineModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="entity.action.create">Create a new Plantmfgline</span>
                </button><br><br>
    </div>

    <div class="modal fade" id="savePlantmfglineModal" tabindex="-1" role="dialog" aria-labelledby="myPlantmfglineLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPlantmfglineLabel" translate="jtraceApp.plantmfgline.home.createOrEditLabel">Create or edit a Plantmfgline</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="jtraceApp.plantmfgline.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="plantmfgline.name" required>

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantmfgline.plant">plant</label>
                            <select class="form-control" name="plant" ng-model="plantmfgline.plantsec.plant.id" ng-options="plant.id as plant.code for plant in plants" required>
                            </select>
                            <div ng-show="editForm.plantmfgline.plantsec.plant.id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.plantmfgline.plantsec.plant.id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantmfgline.plantsec">plantsec</label>
                            <select class="form-control" name="plantsec" ng-model="plantmfgline.plantsec.id" ng-disabled="!plantmfgline.plantsec.plant.id" ng-options="plantsec.id as plantsec.name for plantsec in plantsecs | filter:plantmfgline.plantsec.plant.id" required>
                            </select>
                            <div ng-show="editForm.plantmfgline.plantsec.id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.plantmfgline.plantsec.id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantmfgline.capacity">Capacity</label>
                            <input type="text" class="form-control" name="capacity"
                                   ng-model="plantmfgline.capacity" required>

                            <div ng-show="editForm.capacity.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.capacity.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>                           
                    </div>
                 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePlantmfglineConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(plantmfgline.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.plantmfgline.delete.question" translate-values="{id: '{{plantmfgline.id}}'}">Are you sure you want to delete this Plantmfgline?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-condensed hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.plantmfgline.name">Name</th>
                    <th translate="jtraceApp.plantmfgline.plant">plantsec</th>
                    <th translate="jtraceApp.plantmfgline.plantsec">plantsec</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plantmfgline in plantmfglines">
                    <td><a ui-sref="plantmfglineDetail({id:plantmfgline.id})">{{plantmfgline.name}}</a></td>
                    <td>{{plantmfgline.plantsec.plant.code}}</td>
                    <td>{{plantmfgline.plantsec.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="plantmfglineDetail({id:plantmfgline.id})"
                                class="btn btn-info btn-sm" tooltip="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="update(plantmfgline.id)"
                                class="btn btn-primary btn-sm" tooltip="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(plantmfgline.id)"
                                class="btn btn-danger btn-sm" tooltip="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
