<div class="container">

    

    <div>
            <h2 translate="jtraceApp.workorderheader.home.title">Workorderheader</h2>
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveWorkorderheaderModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="entity.action.create">Create a new Workorderheader</span>
                </button><br><br>
    </div>

    <div class="modal fade" id="saveWorkorderheaderModal" tabindex="-1" role="dialog" aria-labelledby="myWorkorderheaderLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myWorkorderheaderLabel" translate="jtraceApp.workorderheader.home.createOrEditLabel">Create or edit a Workorderheader</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.woNumber">WoNumber</label>
                            <input type="text" class="form-control" name="woNumber"
                                   ng-model="workorderheader.woNumber">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.kitNumber">KitNumber</label>
                            <input type="text" class="form-control" name="kitNumber"
                                   ng-model="workorderheader.kitNumber">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.status">Status</label>
                            <input type="text" class="form-control" name="status"
                                   ng-model="workorderheader.status">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.qty">Qty</label>
                            <input type="number" class="form-control" name="qty"
                                   ng-model="workorderheader.qty">

                        </div>

                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.itemmtr">itemmtr</label>
                            <select class="form-control" name="itemmtr" ng-model="workorderheader.itemmtr.id" ng-options="itemmtr.id as itemmtr.code for itemmtr in itemmtrs">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.workorderheader.plantmfgline">plantmfgline</label>
                            <select class="form-control" name="plantmfgline" ng-model="workorderheader.plantmfgline.id" ng-options="plantmfgline.id as plantmfgline.name for plantmfgline in plantmfglines">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteWorkorderheaderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(workorderheader.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.workorderheader.delete.question" translate-values="{id: '{{workorderheader.id}}'}">Are you sure you want to delete this Workorderheader?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Modal for Barcode -->
	<div class="modal fade" id="printWorkorderheaderModal" tabindex="-1"
		role="dialog" aria-labelledby="myItemctnLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" id="form_edit" role="form" show-validation>

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clearAll()">&times;</button>
						<h4 class="modal-title" id="myItemctnLabel"
							translate="jtraceApp.workorderheader.barCode">Generated Bar code for {{workorderheader.woNumber}}</h4>
					</div>

					<div class="row">
						<div class="modal-body">
                                
    							<div class="row">
    								<div class="col-md-8" style="margin-left: 440px">
    									<label translate="jtraceApp.workorderheader.selectAll">Select
    										All</label>
    								</div>

    								<div class="col-md-4" style="margin-left: 395px">
    									<input type="checkbox" ng-model="parent" id="selectAll"
    										ng-checked="{{dynamicDivs14}}" class="form-control"
    										style="margin-bottom: 10px" ng-model="parent">
    								</div>
    							</div>
    							<div class="col-md-12">
    								<div class="col-md-8">
                                        <div id="barCodw" class="col-md-4" style="margin-bottom:2px" ></div>
    								</div>
    								<div class="col-md-4">
    									<input type="checkbox" id="{{dyn1}}" ng-model="dynamicDivs144"
    										ng-repeat="dyn1 in dynamicDivs1" ng-checked="parent"
    										class="form-control" style="margin-top: 28px">
    								</div>
    							</div>
						</div>
					</div>
					<input type="radio" name="btype"
						id="datamatrix" value="datamatrix" checked="checked" hidden>
					<input type="text" id="bgColor" value="#FFFFFF" size="7" hidden>
					<input type="text" id="color" value="#000000" size="7" hidden>
					<input type="text" id="barWidth" value="1" size="3" hidden>
					<input type="text" id="barHeight" value="20" size="3" hidden>
					<input type="text" id="moduleSize" value="9" size="3" hidden>
					<input type="text" id="quietZoneSize" value="1" size="3" hidden>
					<input type="text" id="quietZoneSize" value="5" size="3" hidden>
					<br /> 
                    <input type="checkbox" name="rectangular" id="rectangular"
						checked="checked" hidden> <br /> <input type="text"
						id="posX" value="10" size="3" hidden> <br /> <input
						type="text" id="posY" value="20" size="3" hidden> <br />
					<input type="radio" id="css" name="renderer" value="css"
						checked="checked" hidden>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" class="close"
							ng-click="printDivDynamic('barCode')" data-dismiss="modal">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span
								translate="jtraceApp.workorderheader.print">Print</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End : Modal for Barcode -->
    <div class="table-responsive">
        <table class="table table-condensed hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.workorderheader.woNumber">WoNumber</th>
                    <th translate="jtraceApp.workorderheader.kitNumber">KitNumber</th>
                    <th translate="jtraceApp.workorderheader.status">Status</th>
                    <th translate="jtraceApp.workorderheader.qty">Qty</th>
                    <th translate="jtraceApp.workorderheader.itemmtr">itemmtr</th>
                    <th translate="jtraceApp.workorderheader.plantmfgline">plantmfgline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="workorderheader in workorderheaders">
                    <td><a ui-sref="workorderheaderDetail({id:workorderheader.id})">{{workorderheader.woNumber}}</a></td>
                    <td>{{workorderheader.kitNumber}}</td>
                    <td>{{workorderheader.status}}</td>
                    <td>{{workorderheader.qty}}</td>
                    <td>{{workorderheader.itemmtr.code}}</td>
                    <td>{{workorderheader.plantmfgline.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="workorderheaderDetail({id:workorderheader.id})"
                                class="btn btn-info btn-sm" tooltip="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(workorderheader.id)"
                                class="btn btn-primary btn-sm" tooltip="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(workorderheader.id)"
                                class="btn btn-danger btn-sm" tooltip="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="submit"
                                ng-click="createCode(workorderheader.id)"
                                class="btn btn-primary btn-sm"  tooltip="Serial Numbers">
                            <span class="glyphicon glyphicon-barcode"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
