<div>

	<h2 translate="jtraceApp.itemctn.home.title">Itemctn</h2>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" data-toggle="modal"
					data-target="#saveItemctnModal" ng-click="clear()">
					<span class="glyphicon glyphicon-flash"></span> <span
						translate="jtraceApp.itemctn.home.createLabel">Create a new
						Itemctn</span>
				</button>
			</div>
		</div>
	</div>
    <!-- Start : Bar Code Modal-->
	<div class="modal fade" id="saveItemctnModal2" tabindex="-1"
		role="dialog" aria-labelledby="myItemctnLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" id="form_edit" role="form" show-validation>

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="ItemctnController.clear()">&times;</button>
						<h4 class="modal-title" id="myItemctnLabel"
							translate="jtraceApp.itemctn.barCode">Generated Bar code for
							{{itemctn.id}}</h4>
					</div>
					<div class="row">
						<div class="modal-body" id="ashu">
							<div class="col-md-12"></div>
							<div class="row" id="codeExa">
								<div class="col-md-12">
									<div class="form-group">
										<div id="generator"></div>
									</div>
									<div id="submit1" class="col-md-5">
										<div id="barcodeTarget" class="barcodeTarget"
											style="padding-bottom: 80px"></div>
									</div>
									<div id="submit1" class="col-md-3">
										<div id="barTarget1" class="barTarget1"
											style="padding-top: 40px"></div>
									</div>
									<div id="submit1" class="col-md-4">
										<div id="barTarget" class="barTarget"
											style="padding-top: 10px"></div>
									</div>
								</div>
							</div>
							<input type="radio" name="btype" id="code11" value="code11"
								checked="checked" hidden> <input type="radio"
								name="btype" id="datamatrix" value="datamatrix"
								checked="checked" hidden> <input type="text"
								id="bgColor" value="#FFFFFF" size="7" hidden> <input
								type="text" id="color" value="#000000" size="7" hidden>
							<input type="text" id="barWidth" value="2" size="3" hidden>
							<input type="text" id="barHeight" value="70" size="3" hidden>
							<input type="text" id="moduleSize" value="9" size="3" hidden>
							<input type="text" id="quietZoneSize" value="1" size="3" hidden>
							<input type="text" id="bgColor" value="#FFFFFF" size="7" hidden>
							<br /> <input type="text" id="color" value="#000000" size="7"
								hidden> <br /> <input type="text" id="barWidth"
								value="2" size="3" hidden> <br /> <input type="text"
								id="barHeight" value="70" size="3" hidden> <br /> <input
								type="text" id="moduleSize" value="8" size="3" hidden> <br />
							<input type="text" id="quietZoneSize" value="1" size="3" hidden>
							<br /> <input type="checkbox" name="rectangular"
								id="rectangular" checked="checked" hidden> <br /> <input
								type="text" id="posX" value="10" size="3" hidden> <br />
							<input type="text" id="posY" value="20" size="3" hidden>
							<br /> <input type="radio" id="css" name="renderer" value="css"
								checked="checked" hidden>
							<div class="modal-footer">
								<script type="text/javascript">
									function printDiv(divName1) {

										var printContents = document
												.getElementById(divName1).innerHTML;
										var originalContents = document.body.innerHTML;
										document.body.innerHTML = printContents;
										window.print();
										document.body.innerHTML = originalContents;
										$(document)
												.ready(
														function() {
															$('#form_edit')
																	.on(
																			'submit',
																			function() {
																				$(
																						'#saveItemctnModal2')
																						.hide();
																			});
														});
									}
								</script>
								<button type="submit" class="btn btn-primary" class="close"
									onclick="printDiv('barTarget')" data-dismiss="modal">
									<span class="glyphicon glyphicon-print"></span>&nbsp;<span
										translate="jtraceApp.itemctn.print">Print</span>
								</button>
							</div>
				</form>
			</div>
		</div>
	</div>
    </div>
    </div>
    <!-- End : Bar Code Modal-->
    <div class="modal fade" id="saveItemctnModal" tabindex="-1" role="dialog" aria-labelledby="myItemctnLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemctnLabel" translate="jtraceApp.itemctn.home.createOrEditLabel">Create or edit a Itemctn</h4>
                    </div>
                    <div class="modal-body">                    
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.ctn">Ctn</label>
                            <input type="text" class="form-control" name="ctn"
                                   ng-model="itemctn.ctn">
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.itemmtr">itemmtr</label>
                            <select class="form-control" name="itemmtr" ng-change="stateSelected()" ng-model="itemctn.itemmfrpart.itemmtr.id" ng-options="itemmtr.id as itemmtr.code for itemmtr in itemmtrs">
                            </select>
                            <!--{{itemctn.itemmfrpart.itemmtr.code}}{{itemctn.itemmfrpart.sup.manufacturer.code}}
                            <input type="text" class="form-control" name="itemmtr"
                                   ng-model="itemctn.itemmfrpart.itemmtr.code" readonly>-->
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.itemmfrpart">itemmtrpart</label>
                            <select class="form-control" name="itemmfrpart" ng-model="itemctn.itemmfrpart.id" ng-disabled="!itemctn.itemmfrpart.itemmtr.id"  ng-options="itemmfrpart.id as itemmfrpart.mfrpart for itemmfrpart in itemmfrparts | filter:itemctn.itemmfrpart.itemmtr.id">
                            </select>

                            <div ng-show="editForm.itemmfrpart.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.itemmfrpart.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>

                            <!--<input type="text" ng-model="itemctn.itemmtr.id" typeahead="itemmtr.id as itemmtr.code for itemmtr in itemmtrs | filter:$viewValue | limitTo:8" class="form-control">-->
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.manufacturer">Manufacturer</label>
                            <select class="form-control" name="manufacturer"
                                   ng-model="itemctn.itemmfrpart.sup.manufacturer.id" ng-disabled="!itemctn.itemmfrpart.id" ng-options="manufacturer.id as manufacturer.code for manufacturer in manufacturers | filter:itemctn.itemmfrpart.sup.manufacturer.id" required>
                            </select>
                            <div ng-show="editForm.manufacturer.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.manufacturer.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>                        
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.supplierPartNo">Supplier Part No</label>
                            <input type="text" class="form-control" name="supplierPartNo" ng-change="stateSelected()"
                                   ng-model="itemctn.itemmfrpart.supplier" required>

                            <div ng-show="editForm.supplierPartNo.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.supplierPartNo.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.supplier">Supplier</label>
                            <select class="form-control" name="supplier"
                                   ng-model="itemctn.itemmfrpart.sup.id" ng-disabled="!itemctn.itemmfrpart.sup.manufacturer.id" ng-options="supplier.id as supplier.code for supplier in suppliers | filter:itemctn.itemmfrpart.sup.manufacturer.id" required>
                            </select>
                            <div ng-show="editForm.supplier.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.supplier.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>                         
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.poQty">PoQty</label>
                            <input type="number" class="form-control" name="poQty"
                                   ng-model="itemctn.poQty" required>

                            <div ng-show="editForm.poQty.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.poQty.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.poQty.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>

                        </div>                       
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.reqdQty">ReqdQty</label>
                            <input type="number" class="form-control" name="reqdQty"
                                   ng-model="itemctn.reqdQty" required>

                            <div ng-show="editForm.reqdQty.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.reqdQty.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.reqdQty.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.recdDt">RecdDt</label>
                            <input type="date" class="form-control" name="recdDt"
                                   ng-model="itemctn.recdDt" required>

                            <div ng-show="editForm.recdDt.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.recdDt.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.selfLife">SelfLife</label>
                            <input type="text" class="form-control" name="selfLife"
                                   ng-model="itemctn.selfLife">

                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.srNoTo">SrNoTo</label>
                            <input type="text" class="form-control" name="srNoTo"
                                   ng-model="itemctn.srNoTo">

                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.srNoFrom">SrNoFrom</label>
                            <input type="text" class="form-control" name="srNoFrom"
                                   ng-model="itemctn.srNoFrom">

                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.dateCode">Date Code</label>
                            <input type="text" class="form-control" name="datecode" ng-change="stateSelected()"
                                   ng-model="itemctn.dateCode" required>

                            <div ng-show="editForm.datecode.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.datecode.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.lotCode">Lot Code</label>
                            <input type="text" class="form-control" name="lotcode" ng-change="stateSelected()"
                                   ng-model="itemctn.lotCode" required>

                            <div ng-show="editForm.lotcode.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lotcode.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.invoice">Invoice</label>
                            <input type="text" class="form-control" name="invoice"
                                   ng-model="itemctn.invoice">

                        </div>
                        <div class="col-md-6 form-group">
                            <label translate="jtraceApp.itemctn.customer">Customer</label>
                            <select class="form-control" name="customer" ng-model="itemctn.customer.id" ng-options="customer.id as customer.code for customer in customers">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemctnConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(itemctn.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.itemctn.delete.question" translate-values="{id: '{{itemctn.id}}'}">Are you sure you want to delete this Itemctn?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="jtraceApp.itemctn.ctn">Ctn</th>                    
                    <th translate="jtraceApp.itemctn.itemmtr">itemmtr</th>
                    <th translate="jtraceApp.itemctn.poQty">PoQty</th>
                    <th translate="jtraceApp.itemctn.reqdQty">ReqdQty</th>
                    <th translate="jtraceApp.itemctn.recdDt">RecdDt</th>
                    <th translate="jtraceApp.itemctn.invoice">Invoice</th>
                    <th translate="jtraceApp.itemctn.customer">customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemctn in itemctns">
                    <td><a ui-sref="itemctnDetail({id:itemctn.id})">{{itemctn.ctn}}</a></td>
                    <td>{{itemctn.itemmfrpart.itemmtr.code}}</td>
                    <td>{{itemctn.poQty}}</td>
                    <td>{{itemctn.reqdQty}}</td>
                    <td>{{itemctn.recdDt}}</td>
                    <td>{{itemctn.invoice}}</td>
                    <td>{{itemctn.customer.code}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="itemctnDetail({id:itemctn.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(itemctn.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(itemctn.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                        <button type="submit"
                                ng-click="createCode(itemctn.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="jtraceApp.itemctn.barCode">Bar code</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
