<div class="container">

    

    <div>
            <h2 translate="jtraceApp.bomheader.home.title">Bomheader</h2>
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveBomheaderModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="entity.action.create">Create a new Bomheader</span>
                </button><br><br>
    </div>

    <div class="modal fade" id="saveBomheaderModal" tabindex="-1" role="dialog" aria-labelledby="myBomheaderLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myBomheaderLabel" translate="jtraceApp.bomheader.home.createOrEditLabel">Create or edit a Bomheader</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label translate="jtraceApp.bomheader.itemmtr">itemmtr</label>
                            <select class="form-control" name="itemmtr" ng-model="bomheader.itemmtr.id" ng-options="itemmtr.id as itemmtr.code for itemmtr in itemmtrs" required>
                            </select>
                            <div ng-show="editForm.itemmtr.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.itemmtr.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="jtraceApp.bomheader.code">Code</label>
                            <input type="text" class="form-control" name="code"
                                   ng-model="bomheader.code" required>

                            <div ng-show="editForm.code.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.code.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBomheaderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(bomheader.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.bomheader.delete.question" translate-values="{id: '{{bomheader.id}}'}">Are you sure you want to delete this Bomheader?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-condensed hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.bomheader.itemmtr">item</th>
                    <th translate="jtraceApp.bomheader.code">Code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="bomheader in bomheaders">
                    <td><a ui-sref="bomheaderDetail({id:bomheader.id})">{{bomheader.itemmtr.code}}</a></td>
                    <td>{{bomheader.code}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="bomheaderDetail({id:bomheader.id})"
                                class="btn btn-info btn-sm" tooltip="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(bomheader.id)"
                                class="btn btn-primary btn-sm" tooltip="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(bomheader.id)"
                                class="btn btn-danger btn-sm" tooltip="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
