<!--<footer class="footer">
  <div class="container">
  		
  		<p><p translate="main.question">
                If you have any question on JHipster:
            </p><a href="http://zensar.com" target="_blank" translate="main.link.homepage">JHipster homepage</a>|
        <a href="https://twitter.com/kamle5h" target="_blank"  translate="main.link.contact">contact @kamle5h on Twitter</a>
        </p>
  </div>
</footer>-->
<footer class="navbar navbar-fixed-bottom" id="footer">
	<div class="container" id="footer-content">
		<span translate="main.question">If you have any question on
			JHipster:</span><br> <a href="http://zensar.com" target="_blank"
			translate="main.link.homepage">JHipster homepage</a> | <a
			href="https://twitter.com/kamle5h" target="_blank"
			translate="main.link.contact">contact @kamle5h on Twitter</a>
	</div>
</footer>