<div class="container">

    

    <div>
            <h2 translate="jtraceApp.plantsec.home.title">Plantsec</h2>
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePlantsecModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="entity.action.create">Create a new Plantsec</span>
                </button><br><br>
            </div>

    <div class="modal fade" id="savePlantsecModal" tabindex="-1" role="dialog" aria-labelledby="myPlantsecLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPlantsecLabel" translate="jtraceApp.plantsec.home.createOrEditLabel">Create or edit a Plantsec</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="jtraceApp.plantsec.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="plantsec.name" required ng-minlength="3">

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                                    This field is required to be at least 3 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantsec.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="plantsec.description">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantsec.isenabled">Isenabled</label>
                            <input type="checkbox" class="form-control" name="isenabled"
                                   ng-model="plantsec.isenabled">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plantsec.capacity">Capacity</label>
                            <input type="number" class="form-control" name="capacity"
                                   ng-model="plantsec.capacity" required>

                            <div ng-show="editForm.capacity.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.capacity.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.capacity.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="jtraceApp.plantsec.plant">plant</label>
                            <select class="form-control" name="plant" ng-model="plantsec.plant.id" ng-options="plant.id as plant.code for plant in plants">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePlantsecConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(plantsec.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.plantsec.delete.question" translate-values="{id: '{{plantsec.id}}'}">Are you sure you want to delete this Plantsec?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-condensed hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.plantsec.name">Name</th>
                    <th translate="jtraceApp.plantsec.description">Description</th>
                    <th translate="jtraceApp.plantsec.isenabled">Isenabled</th>
                    <th translate="jtraceApp.plantsec.capacity">Capacity</th>
                    <th translate="jtraceApp.plantsec.plant">plant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plantsec in plantsecs">
                    <td><a ui-sref="plantsecDetail({id:plantsec.id})">{{plantsec.name}}</a></td>
                    <td>{{plantsec.description}}</td>
                    <td>{{plantsec.isenabled}}</td>
                    <td>{{plantsec.capacity}}</td>
                    <td>{{plantsec.plant.code}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="plantsecDetail({id:plantsec.id})"
                                class="btn btn-info btn-sm" tooltip="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="update(plantsec.id)"
                                class="btn btn-primary btn-sm" tooltip="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(plantsec.id)"
                                class="btn btn-danger btn-sm" tooltip="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
