<div class="modal-header">
  <h3>{{data.modalName}}</h3>
  <progressbar class="progress-striped active" max="steps.length" value="currentStep.number" type="warning"><i>{{currentStep.name}}::{{currentStep.number}}/{{steps.length}}</i></progressbar>
</div>
<div class="modal-body">
  <form role="form">
    <div class="row">
      <div class="col-md-12">

        <div ng-switch="currentStep.number">
          <div ng-switch-when="1">
            <ng-include src="'scripts/app/entities/plant/modalStep1.html'"></ng-include>
          </div>
          <div ng-switch-when="2">
            <ng-include src="'scripts/app/entities/plant/modalStep2.html'"></ng-include>
          </div>
          <div ng-switch-when="3">
            <ng-include src="'scripts/app/entities/plant/modalStep3.html'"></ng-include>
          </div>
        </div>

      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="previousStep()"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Previous Step</button>
  <button class="btn btn-primary" ng-click="nextStep()"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;Next Step</button>
  <button class="btn btn-info" ng-click="finalStep()"><i class="fa fa-dot-circle-o"></i>&nbsp;Final Step</button>
  <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times-circle-o"></i>&nbsp;Close</button>
</div>