<div>

    <h2 translate="jtraceApp.plant.home.title">Plant</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePlantModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jtraceApp.plant.home.createLabel">Create a new Plant</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePlantModal" tabindex="-1" role="dialog" aria-labelledby="myPlantLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPlantLabel" translate="jtraceApp.plant.home.createOrEditLabel">Create or edit a Plant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="jtraceApp.plant.code">Code</label>
                            <input type="text" class="form-control" name="code"
                                   ng-model="plant.code" required>

                            <div ng-show="editForm.code.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.code.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plant.org">org</label>
                            <select class="form-control" name="org" ng-model="plant.org.id" ng-options="org.id as org.name for org in organizations" required>
                            </select>
                            <div ng-show="editForm.plant.org.id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.plant.org.id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plant.address">Address</label>
                            <input type="text" class="form-control" name="address"
                                   ng-model="plant.address" required>

                            <div ng-show="editForm.address.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.address.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plant.isenabled">Isenabled</label>
                            <input type="checkbox" class="form-control" name="isenabled"
                                   ng-model="plant.isenabled">

                        </div>
                        <div class="form-group">
                            <label translate="jtraceApp.plant.capacity">Capacity</label>
                            <input type="number" class="form-control" name="capacity"
                                   ng-model="plant.capacity" required>

                            <div ng-show="editForm.capacity.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.capacity.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.capacity.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePlantConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(plant.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jtraceApp.plant.delete.question" translate-values="{id: '{{plant.id}}'}">Are you sure you want to delete this Plant?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- MultiStage model - Wizard -->
    <!--<div class="row">
      <div class="col-sm-12">
        <h4>Open Wizard Modal</h4>
        <button class="btn btn-primary"
          ng-click="openModal({ modalName: 'Create or edit a Plant' })">
          <span translate="jtraceApp.plant.home.createLabel">Create a new Plant</span>
        </button>
      </div>
    </div>-->
<!--/.new model -->
    <div class="table-responsive">
        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-condensed hover">
            <thead>
                <tr>
                    <th translate="jtraceApp.plant.code">Code</th>
                    <th translate="jtraceApp.plant.org">Org</th>
                    <th translate="jtraceApp.plant.address">Address</th>
                    <th translate="jtraceApp.plant.isenabled">Isenabled</th>
                    <th translate="jtraceApp.plant.capacity">Capacity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="plant in plants">
                    <td><a ui-sref="plantDetail({id:plant.id})">{{plant.code}}</a></td>
                    <td>{{plant.org.name}}</td>
                    <td>{{plant.address}}</td>
                    <td>{{plant.isenabled}}</td>
                    <td>{{plant.capacity}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="plantDetail({id:plant.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(plant.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(plant.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
